* {
    box-sizing: border-box;
}

html {
    font-family: 'Merienda', cursive, 'Roboto', sans-serif;
    font-size: 12px;
    scroll-behavior: smooth;
}

body {
    background-color: #fceeff;
    overflow-x: hidden;
    width: 100vw;
    padding: 0;
    margin: 0;
    line-height: 1.7rem;

}

/********************HEADER********************/

header {
    width: 100vw;
    display: block;
    justify-self: center;
    overflow: hidden;
}

/**************NAV TOGGLE***************/

.nav-toggle {
    display: block;
    cursor: pointer;
    right: 5px;
    position: fixed;
    top: 10px;
    width: 60px;
    height: 40px;
    z-index: 10;
    padding: 10px;
    background-color: rgb(251, 216, 255);
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
}

.nav-toggle:hover {
    opacity: 1;
}

.nav-toggle-bar,
.nav-toggle-bar::after,
.nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    background-color: #41034c;
    content: '';
    height: 4px;
    width: 37px;
}

.nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle-bar::after {
    margin-top: 9px;
}

.nav-toggle-bar::before {
    margin-top: -9px;
}

.nav-toggle.expanded {
    background-color: transparent;
    box-shadow: none;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    background-color: white;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    transform: rotate(-45deg);
}

.nav-logo {
    display: none;
}

/***************NAV***************/

.nav {
    transition: right 0.5s ease;
    background-color: rgb(100, 0, 84);
    color: #2a0231;
    font-size: 1.7rem;
    height: 100vh;
    right: -150px;
    padding: 24px 7px;
    position: fixed;
    top: 0;
    width: 150px;
    align-self: center;
    z-index: 1;
}

.nav.expanded {
    right: 0;
}

.nav ul {
    position: absolute;
    list-style: none;
    top: 50vh;
    transform: translateY(-25vh);
    margin: 0;
    padding: 0;
}

.nav ul li {
    padding: 12px 5px;
}

.nav a {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 0.4rem 1rem;
    font-weight: 600;
}

.nav a:hover {
    text-decoration: underline;
}

.tea-site {
    font-size: 2.7rem;
    font-weight: 600;
    color: #2a0231;
    text-shadow: 2px 2px 5px rgb(189, 133, 194);
    width: 100vw;
    background-color: rgb(251, 216, 255);
    padding: 10px 70px 10px 10px;
    margin-bottom: 10px;
    text-align: center;
}

.fa-envira {
    color: #41034c;
    margin: 0 10px;
}

/********************SECTIONS********************/

main {
    width: 100vw;
    padding: 0;
    margin: 0;
}

section {
    display: grid;

    width: 85%;
    margin: 30px auto;
}

h1 {
    color: #2a0231;
    text-shadow: 1px 1px 3px rgb(193, 168, 194);
    margin: 5px 0;
}

.section-title {
    font-size: 3.5rem;
    margin: 15px;
}

h3 {
    color: #2a0231;
}

p {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Merienda', cursive;
    color: #2a0231;
}

/***************BANNER SECTION***************/

.banner-img img {
    width: 85vw;
    height: auto;
    border: 1px solid rgb(241, 216, 245);
    margin-bottom: 2rem;
}

.banner p {
    text-align: justify;
    margin-bottom: 10px;

}

.banner-link {
    display: grid;
    justify-self: end;

}

.banner-link a {
    text-decoration: none;
    border: 2px solid #2a0231;
    background-color: rgb(100, 0, 84);
    padding: 5px 10px;
    font-size: 1.4rem;
    margin: 5px 0;
    color: white;
    justify-self: end;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
}

.banner-link a:hover {
    border: 2px solid #63026b;
    background-color: rgb(151, 0, 133);
    box-shadow: 2px 2px 7px rgb(137, 95, 135);
}

/***************PRODUCTS SECTION***************/
#products article {
    margin: 8px 0;
    padding: 10px;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
}

#products article:hover {
    box-shadow: 2px 2px 7px rgb(137, 95, 135);
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
}

#products h1:hover {
    text-decoration: underline;
}

#products p {
    text-align: justify;
}

/***************CHECK OUT SECTION***************/

.check-out-img {
    width: 85vw;
    height: auto;
    position: absolute;
    z-index: -1;
    opacity: 0.35;
    overflow: hidden;
}

.check-out-info1 p {
    padding: 0 10px;
    text-align: justify;
}

.check-out-info2 {
    display: none;
}

.accordion {
    margin-top: 20px;
}

.accordion-card {
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
    margin: 5px 0;
    width: 85vw;
}

.accordion-title {
    width: auto;
    border: 2px solid #2a0231;
    background-color: rgb(100, 0, 84);
    text-align: left;
    font-weight: 600;
    text-shadow: none;
    padding: 10px 15px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

.accordion-title .fa-arrow-circle-down {
    margin: 0 0 0 20px;
    padding: 0;
    font-size: 1.5rem;
}

.accordion-content {
    padding: 0 10px;
    max-height: 0;
    color: black;
    text-shadow: none;
    font-size: 1rem;
    font-weight: normal;
    text-align: justify;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

/***************ABOUT US SECTION***************/
#about-us {
    background-color: #fceeff;
    padding-top: 40px;
}

.about-us-card {
    margin: 10px 0;
    padding: 10px;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
    background-color: #fceeff;
}

.worker-img {
    display: grid;
    justify-self: center;
    margin: 15px 0;
}

.about-us-img {
    width: 95%;
    height: auto;
    border-radius: 50%;
    margin: 5px auto;
    border: 1px solid rgb(241, 216, 245);
}

.about-us-card article {
    text-align: center;
}

.about-us-card article h1:hover {
    text-decoration: none;
}

.about-us-card article footer {
    text-align: right;
}

/***************CONTACT SECTION***************/
#contact {
    justify-items: center;
}

.contact-content {
    width: 85vw;
}

.contact-img {
    width: 85vw;
    height: auto;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

form {
    width: 85vw;
    display: grid;
    justify-self: center;
    font-size: 1em;
    margin-top: 10px;
}

input {
    justify-self: center;
    width: 84vw;
    text-decoration: none;
    color: #1F1D1D;
    margin: 5px 0;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
    cursor: pointer;
}

input[type="submit"] {
    display: grid;
    justify-self: center;
    border: 2px solid #2a0231;
    background-color: rgb(100, 0, 84);
    padding: 5px 10px;
    font-size: 1.4rem;
    margin: 5px auto 20px auto;
    color: white;
    font-family: 'Merienda', cursive;
    width: 100px;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
}

input[type="submit"]:hover {
    border: 2px solid #63026b;
    background-color: rgb(151, 0, 133);
    box-shadow: 2px 2px 7px rgb(137, 95, 135);
}

textarea {
    display: grid;
    justify-self: center;
    width: 84vw;
    height: 20vh;
    margin: 5px 0;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
    cursor: pointer;
    overflow-y: scroll;
}

input:focus, textarea:focus {
    background-color: #f2f2f2;
}

.adress {
    text-align: center;
}

.contact-map {
    background-color: #fceeff;
    padding-top: 30px;
}

.map {
    width: 85vw;
    height: 35vh;
    margin: 0;
}

/***************FOOTER***************/
.copyright {
    color: #2a0231;
    text-shadow: 2px 2px 5px rgb(189, 133, 194);
    width: 100vw;
    background-color: rgb(251, 216, 255);
    padding: 10px 0;
    font-size: 1rem;
    text-align: center;
}

/*************************MEDIA*************************/

@media (min-width: 600px) {
    html {
        font-size: 14px;
    }

    /**************NAV TOGGLE***************/
    .nav-toggle {
        display: none;
    }

    /***************NAV***************/
    .nav {
        position: relative;
        display: grid;
        width: 100vw;
        height: 70px;
        background-color: #fceeff;
        left: 0;
        padding: 0;
        top: 0;
        justify-self: start;
        align-self: flex-start;
    }

    .nav ul {
        display: flex;
        position: relative;
        width: 100vw;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 10px 0 0 0;
        justify-content: space-around;
        font-size: 1.7rem;
    }

    .nav ul li {
        padding: 5px 0;
    }

    .nav-logo {
        display: inline;
        left: 5px;
    }

    .nav-logo .fa-envira {
        color: #2a0231;
        margin: 0 3px;
    }

    .nav a {
        padding: 5px;
        font-size: 1.7rem;
        color: #2a0231;
        text-shadow: 1px 1px 3px rgb(189, 133, 194);
    }

    .tea-li,
    .tea-site {
        display: none;
    }

    /***************PRODUCTS SECTION***************/
    #products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    #products article {
        padding: 2vw;
    }

    /***************ABOUT US SECTION***************/
    #about-us {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    .about-us-card article p {
        text-align: center;
        padding: 0 2vw;
    }

    .about-us-card article footer {
        padding: 0 2vw;
    }

    /***************CONTACT SECTION***************/
    textarea {
        height: 25vh;
        overflow: hidden;
    }

    .map {
        height: 40vh;
    }
}

@media (min-width: 800px) {
    /***************NAV***************/
    .nav a {
        font-size: 1.2em;
    }

    main {
        display: grid;
    }

    /***************BANNER***************/
    #banner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .banner-img {
        grid-column: 1/span 3;
        grid-row: 2 / span 3;
        z-index: 1;
    }

    .banner-img img {
        width: 45vw;
        margin: -7.5rem 0 0 0;
        padding: 0;
    }

    .banner .content {
        width: auto;
        grid-column: 3 / span 3;
        grid-row: 1 / span 2;
        box-shadow: 1px 1px 3px rgb(193, 168, 194);
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem 1rem 1rem 17vw;
    }

    .banner .content h1 {
        text-align: right;
        margin-bottom: 0.5rem;
    }

    .banner-link a {
        font-size: 1.2rem;
        padding: 2px 5px;
    }

    /********************SECTIONS********************/
    /***************PRODUCTS SECTION***************/
    #products {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    /***************CHECK OUT SECTION***************/
    #check-out {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;
    }

    .check-out-info1 {
        display: none;
    }

    .check-out-info2 {
        display: grid;
    }

    .check-out-info2 h1 {
        text-align: right;
        padding: 0 10px;
        font-size: 3.3rem;
    }

    .check-out-info2 p {
        padding: 0 10px;
        text-align: justify;
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .check-out-img {
        margin-top: 3.8rem;
        opacity: 1;
        width: 35vw;
        height: auto;
        position: relative;
        border: 1px solid rgb(241, 216, 245);
    }

    .accordion {
        margin-top: 0;
    }

    .accordion-card {
        margin: 0 0 5px 0;
        width: auto;
    }

    /***************CONTACT SECTION***************/
    form {
        width: 40vw;
    }

    .contact-content {
        width: 85vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    input {
        width: 50vw;
        margin-left: 1vw;
    }

    textarea {
        width: 50vw;
        height: 30vh;
        margin-left: 1vw;
    }

    input[type="submit"] {
        margin-top: 20px;
    }

    .adress {
        text-align: center;
        justify-self: center;
        align-self: center;
        font-weight: 600;
        margin-left: 2vw;
        margin-bottom: 5vh;
    }

    .map {
        height: 60vh;
    }
}

@media (min-width: 1000px) {

    .banner-img img {
        width: 45vw;
        margin: -8.5rem 0 0 0;
    }

    .banner .content {
        font-size: 1.6rem;
        padding: 3rem 3rem 3rem 18vw;
        line-height: 2.3rem;
    }

    .banner .content h1 {
        margin-bottom: 2.5rem;
        font-size: 3.2rem;
    }

    .banner-link a {
        margin-top: 2rem;
        font-size: 2rem;
        padding: 10px 25px;
    }

}