* {
    box-sizing: border-box;
}

html {
    font-family: 'Merienda', cursive, 'Roboto', sans-serif;
    font-size: 12px;
    scroll-behavior: smooth;
}

body {
    background-color: #fceeff;
    overflow-x: hidden;
    width: 100vw;
    padding: 0;
    margin: 0;

}

/********************HEADER********************/

header {
    width: 100vw;
    display: grid;
    justify-self: center;
    overflow: hidden;
}

/**************NAV TOGGLE***************/

.nav-toggle {
    display: grid;
    justify-self: center;
    cursor: pointer;
    height: 24px;
    right: 5px;
    position: fixed;
    top: 10px;
    width: 60px;
    height: 40px;
    z-index: 10;
    padding: 10px;
    background-color: rgb(251, 216, 255);
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
}

.nav-toggle:hover {
    opacity: 1;
}

.nav-toggle-bar,
.nav-toggle-bar::after,
.nav-toggle-bar::before {
    justify-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    background-color: #41034c;
    content: '';
    height: 4px;
    width: 37px;
}

.nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle-bar::after {
    margin-top: 9px;
}

.nav-toggle-bar::before {
    margin-top: -9px;
}

.nav-toggle.expanded {
    background-color: transparent;
    box-shadow: none;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    background-color: white;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    transform: rotate(-45deg);
}

.nav-logo {
    display: none;
}

/***************NAV***************/

.nav {
    transition: right 0.5s ease;
    background-color: rgb(100, 0, 84);
    color: #2a0231;
    font-size: 1.7rem;
    height: 100vh;
    right: -150px;
    padding: 24px 7px;
    position: fixed;
    top: 0;
    width: 150px;
    align-self: center;
    z-index: 1;
}

.nav.expanded {
    right: 0;
}

.nav ul {
    position: absolute;
    list-style: none;
    top: 50vh;
    transform: translateY(-25vh);
    margin: 0;
    padding: 0;
}

.nav ul li {
    padding: 12px 5px;
}

.nav a {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 0.4rem 1rem;
    font-weight: 600;
}

.tea-site {
    font-size: 2.7rem;
    font-weight: 600;
    color: #2a0231;
    text-shadow: 2px 2px 5px rgb(189, 133, 194);
    width: 100vw;
    background-color: rgb(251, 216, 255);
    padding: 10px 70px 10px 10px;
    margin-bottom: 10px;
    text-align: center;
}

.fa-envira {
    color: #41034c;
    margin: 0 10px;
}

/********************SECTIONS********************/

main {
    display: grid;
    width: 100vw;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    justify-self: center;
    width: 85%;
    margin: 50px 10px 0 0;
}

h1 {
    color: #2a0231;
    text-shadow: 1px 1px 3px rgb(193, 168, 194);
    margin: 5px 0;
}

h3 {
    color: #2a0231;
}

p {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Merienda', cursive;
    color: #2a0231;
}

/***************BANNER SECTION***************/

.banner {
    grid-gap: 1rem;
}

.banner-img img {
    width: 85vw;
    height: auto;
    border: 1px solid rgb(225, 200, 229);
}

.banner p {
    text-align: justify;
    margin-bottom: 10px;

}

.banner-link {
    display: grid;
    justify-self: end;

}

.banner-link a {
    text-decoration: none;
    border: 2px solid #2a0231;
    background-color: rgb(100, 0, 84);
    padding: 5px 10px;
    font-size: 1.4rem;
    margin: 5px 0;
    color: white;
    justify-self: end;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
}

/***************PRODUCTS SECTION***************/
#products article {
    margin: 5px;
    padding: 10px;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
}

#products p {
    text-align: justify;
}

/***************SERVICES SECTION***************/

.services-img {
    width: 85vw;
    height: auto;
    position: absolute;
    z-index: -1;
    opacity: 0.35;
    overflow: hidden;
}

.accordion {
    margin-top: 30px;
}

.accordion-card {
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
    margin: 5px 0;
    width: 85vw;
}

.accordion-title {
    width: 85vw;
    border: 2px solid #2a0231;
    background-color: rgb(100, 0, 84);
    text-align: left;
    font-weight: 600;
    text-shadow: none;
    padding: 10px 15px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

.accordion-title .fa-plus {
    margin-left: 20px;
}

.accordion-content {
    padding: 0 10px;
    max-height: 0;
    color: black;
    text-shadow: none;
    font-size: 1rem;
    font-weight: normal;
    text-align: justify;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

/***************ABOUT US SECTION***************/

.about-us-card {
    margin: 5px;
    padding: 10px;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
    background-color: #fceeff;
}

.worker-img {
    display: grid;
    width: 100%;
    justify-self: center;
    margin: 15px 0;
}

.about-us-img {
    width: 50vw;
    height: auto;
    border-radius: 50%;
    margin: 5px auto;
    border: 1px solid rgb(225, 200, 229);
}

.about-us-card article {
    text-align: center;
}

.about-us-card article footer {
    text-align: right;
}

/***************CONTACT SECTION***************/
.contact-img {
    width: 85vw;
    height: auto;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}
form{
    width: 85vw;
    display: grid;
    justify-self:center;
    font-size: 1em;
}
input {
    justify-self: center;
    width: 80vw;
    text-decoration: none;
    background-color: #f6f6f6;
    color: #1F1D1D;
    margin: 5px 0;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
    cursor: pointer;
}
input:last-of-type{
    border: 2px solid #2a0231;
    background-color: rgb(100, 0, 84);
    padding: 5px 10px;
    font-size: 1.4rem;
    margin: 5px 0;
    color: white;
    font-family: 'Merienda', cursive;
    width: 100px;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
    margin-bottom: 20px;
}
textarea{
    display: grid;
    justify-self: center;
    width: 80vw;
    margin: 5px 0;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgb(193, 168, 194);
    cursor: pointer;
}

input:focus, textarea:focus {
    background-color: #f2f2f2;
}

.map {
    width: 85vw;
    height: 30vh;
}

/*************************MEDIA*************************/

@media (min-width: 600px) {
    /**************NAV TOGGLE***************/
    .nav-toggle {
        display: none;
    }

    /***************NAV***************/
    .nav {
        position: relative;
        display: grid;
        width: 100vw;
        height: 70px;
        background-color: #fceeff;
        left: 0;
        padding: 0;
        top: 0;
        justify-self: center;
        align-self: flex-start;
    }

    .nav ul {
        display: flex;
        position: relative;
        width: 100vw;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 10px 0 0 0;
        justify-content: space-around;
        font-size: 1.7rem;
    }

    .nav ul li {
        padding: 5px 0;
    }

    .nav-logo {
        display: inline;
        left: 10px;
    }

    .nav-logo .fa-envira {
        color: black;
    }

    .nav a {
        padding: 5px;
        font-size: 2rem;
        color: #2a0231;
        text-shadow: 2px 2px 5px rgb(189, 133, 194);
    }

    .tea-li,
    .tea-site {
        display: none;
    }

    /********************SECTIONS********************/
    /***************BANNER***************/
    /***************PRODUCTS SECTION***************/
    /***************SERVICES SECTION***************/
    /***************ABOUT US SECTION***************/
    /***************CONTACT SECTION***************/
}

@media (min-width: 1024px) {
    /********************HEADER********************/
    /**************NAV TOGGLE***************/
    /***************NAV***************/
    /***************BANNER***************/
    /********************SECTIONS********************/
    /***************PRODUCTS SECTION***************/
    /***************SERVICES SECTION***************/
    /***************ABOUT US SECTION***************/
    /***************CONTACT SECTION***************/
}
